.influencer {
	display: flex;
	&__name {
		width: 300px;
	}
	
	&__card {
		width: 80%;
		height: 60px;
		font-size: 22px;
		font-weight: 700;
		background-color: rgb(55, 95, 133);
		margin:0 20px 20px 0;
		padding: 0px 20px 0px 20px ;
		border-radius: 11px;
		display: flex;
    align-items: center;
    justify-content: space-between;
	}
	&__status {
		display: inline-block;
		background-color: rgb(157, 216, 68);
		font-size: 24px;
		border-radius: 5px;
		padding: 5px;
	}
}