<div class="transaction__buy styleItemTransStng">
	<div style="display: flex;">
		Buy when<div class="transaction__buy-quantityPerson">10</div> influencers noted token on <div class="transaction__buy-quantityBuying">10$</div>
	</div>
	<div class="transaction__type">Auto/mechanic</div>
</div>
<div class="transaction__sell styleItemTransStng">
	<div style="display: flex;">
		Sell when token get <div class="transaction__sell-x">1.5</div>x
	</div>
	<div class="transaction__type">Auto/mechanic</div>
</div>